body {
    background-color: #FFF;
}

div.fft {
	margin-top: 2em;
    border-top: 1px solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
}

.content {
    font-size: 9pt;
}

#top {
	height: 100px;
	padding-top: 16px;
	padding-bottom: 40px;
}


#logo {
    padding-top: 2em;
    padding-left: 3em;
}

#mainmenu {
    margin-top: 0.5em;
    margin-bottom: 3em;
    margin-left:10px;
}

#mainmenu  li {
    margin-left: 1em;
    padding-bottom: 0.3em;
    font-size: 130%;
    font-weight: bolder;
    display: inline;
}


#mainmenu  li.choosen {
    border-bottom: 2px solid silver;
}

#mainmenu  li.choosen a {
    color: black;
}

#mainmenu  a {
    text-decoration: none;
    color: #55728f;
    outline-color: invert;
    outline-style: none;
    outline-width: 0pt;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.minh400 {
    min-height: 400px;
}

.fuckmsie {
    height: 400px;
    float: left;
}

h2 {
    font-size: 150%;
    color: #382140;
}

input.txt  {
    width: 99%;
    border: 1px solid silver;
}

input.txtl  {
    border: 1px solid silver;
}

input.dt {
    width: 7em;
    border: 1px solid silver;
}

textarea.txt  {
    width: 99%;
    border: 1px solid silver;
}

input.btn {
    padding-left: 4px;
    padding-right: 4px;
}


.lbl {
    font-weight: bolder;
    color: #382140;
}

td.lbl {
    width: 12em;
}

div#login table {
    padding-left: 2em;
    padding-right: 2em;
}

div#login table td {
    padding-top:   1.8em;
    padding-right: 1.8em;
}

.section {
    margin-top: 2em;
}

ul.menu li {
    display: inline;
    padding-right: 1.5em;
}

ul.menu li a {
    text-decoration: underline;
    color: #55728f;
    outline-color: invert;
    outline-style: none;
    outline-width: 0pt;
}

a {
    color: #55728f;
}

.hint {
    font-size: 70%;
}

p.hint {
}

.error input{
/*    border: 1px solid #eea4a9;*/
    background-color:  #FF6244;	
/*    position: relative;*/
/*    display: block;*/
}

div.errinfo {
    color: red;
    font-size: 70%;
    z-index: 3;
    position: absolute;
}

.error:hover div.tooltip {
    display: block;
}

.pr05 {
    margin-right: 0.5em;
}

.greenline {
    border-bottom: 3px solid #008000;
}

div.accnt {
    float:right;vertical-align:top;font-size:80%;
}

.checkboxes table {
	width: 80%;
}

.checkboxes label {
	width: 10em;
	overflow: hide;
	border-bottom: 1px dotted gray;
/*    text-decoration: underline;*/
}

.article {
  font-size: 120%;
  padding-left: 3em;
  padding-right: 1em;
}

.article  h2, .article h3, .article h4, .article h5, .article h6 {
  padding-top: 1em;
  font-weight: bolder;
}

.article hr {
    margin-top: 2em;
    border: none;
    border-bottom: 1px dashed #A0A0A0; 
}


.article h2 {
    padding-top: 0.5em;
    border-bottom: 1px solid #A0A0A0;
}

.article h4 {
    font-size: 110%;
}

.article ul {
  padding-top: 1em;
}

.article li {
    list-style-type: disc;
    margin-left: 2em;
    padding-top: 0.5em;
}

.article p {
  padding-top: 1em;
  text-align: justify;
}

.article em {
    font-style: italic;
}

.article strong {
    font-weight: bolder;
}

.misclinks {
  text-align: center;
}

.misclinks ul {
  margin-top: 1.5em;
}

.misclinks li {
  display: inline;
  padding-left: 1em;
}

.misclinks a {
  font-size: 110%;
  font-weight: bolder;
}

.contacts {
	padding-top: 2em;
	padding-bottom: 3em;
}

.contacts td {
	padding-left: 4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}


.w50p {
	width: 50%;
}

.w80p {
	width: 80%;
}
