  A:link { text-decoration:underline; font-weight:none; color:#D29001;}
  A:visited { text-decoration:underline; font-weight:none; color:#E79E00;}
  A:active { text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover { text-decoration:underline; font-weight:none; color: #B31736;}

  A:link.a {font-size:12px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:visited.a {font-size:12px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:active.a {font-size:12px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.a {font-size:12px; text-decoration:underline; font-weight:none; color: #B31736;}

  A:link.2 {font-size:12px; text-decoration:underline; font-weight:none; color:#0050A0;}
  A:visited.2 {font-size:12px; text-decoration:underline; font-weight:none; color:#003E7C;}
  A:active.2 {font-size:12px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.2 {font-size:12px; text-decoration:underline; font-weight:none; color: #BD1F00;}

  A:link.menu {font-size:12px; text-decoration:underline; font-weight:none; color:#000000;}
  A:visited.menu {font-size:12px; text-decoration:underline; font-weight:none; color:#000000;}
  A:active.menu {font-size:12px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.menu {font-size:12px; text-decoration:underline; font-weight:none; color: #F5B100;}

  A:link.menuac {font-size:12px; text-decoration:none; font-weight:bold; color:#ffffff;}
  A:visited.menuac {font-size:12px; text-decoration:none; font-weight:bold; color:#ffffff;}
  A:active.menuac {font-size:12px; text-decoration:none; font-weight:bold; color:#B31736;}
  A:hover.menuac {font-size:12px; text-decoration:none; font-weight:bold; color: #ffffff;}

  A:link.menu2 {font-size:11px; text-decoration:underline; font-weight:none; color:#000000;}
  A:visited.menu2 {font-size:11px; text-decoration:underline; font-weight:none; color:#000000;}
  A:active.menu2 {font-size:11px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.menu2 {font-size:11px; text-decoration:underline; font-weight:none; color: #F5B100;}

  A:link.menu2ac {font-size:11px; text-decoration:none; font-weight:bold; color:#FFFFFF;}
  A:visited.menu2ac {font-size:11px; text-decoration:none; font-weight:bold; color:#FFFFFF;}
  A:active.menu2ac {font-size:11px; text-decoration:none; font-weight:bold; color:#B31736;}
  A:hover.menu2ac {font-size:11px; text-decoration:none; font-weight:bold; color: #FFFFFF;}

  A:link.hc { text-decoration:underline; font-weight:none; color:#E79E00;}
  A:visited.hc { text-decoration:underline; font-weight:none; color:#E79E00;}
  A:active.hc { text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.hc { text-decoration:underline; font-weight:none; color: #B31736;}

  A:link.tabmenu { text-decoration:underline; font-weight:none; color:#FFFFFF;}
  A:visited.tabmenu { text-decoration:underline; font-weight:none; color:#FFFFFF;}
  A:active.tabmenu { text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.tabmenu { text-decoration:underline; font-weight:none; color: #FFFFFF;}

  A:link.tab {font-size:11px; text-decoration:underline; font-weight:none; color:#E79E00;}
  A:visited.tab {font-size:11px; text-decoration:underline; font-weight:none; color:#E79E00;}
  A:active.tab {font-size:11px; text-decoration:underline; font-weight:none; color:#B31736;}
  A:hover.tab {font-size:11px; text-decoration:underline; font-weight:none; color: #B31736;}

  A:link.red, A:visited.red, A:active.red, A:hover.red {color: #B31736;}


P {margin-top:5px;margin-left:5px;margin-right:5px;margin-bottom:5px;line-height:18px;}
P.ri {margin-top:5px;margin-left:5px;margin-right:5px;margin-bottom:5px;letter-spacing:0px;}
P.grey {margin-top:4px;margin-left:30px;margin-right:10px;margin-bottom:10px;letter-spacing:0px;}

select, input, textarea {font-size: 11px;color:#333333;font-weight: normal;font-family:Verdana,Tahoma,Arial,serif;}

ul.ri {margin-top:5px;margin-left:25px;margin-right:5px;margin-bottom:15px;line-height:16px;}

TD {font-size:0.8em;font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#000000;}
TD.tabh2 {font-size:13px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;background-color:#F0BE32;}
TD.tabb2 {font-size:13px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;background-color:#000000;}

TD.tabred {font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#B31736;}
TD.tabgreen {font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#73B317;}

TD.tabred2 {font-size:11px;font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#B31736;}
TD.tabbot {font-size:0.7em;font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#8B8B8B;}

TD.tabtop {font-size:0.8em;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;background-color:#F0BE32;}
TD.tabtopb {font-size:0.8em;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;background-color:#000000;}


TD.tabtop2 {font-size:13px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;}
TD.tabtext {font-size:0.8em;font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#000000;}

TD.tabwhite {font-size:0.8em;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;background-color:#F0BE32;}

TD.taborange {font-size:11px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#F5B100;}
TD.tabwhite2 {font-size:12px;font-family:Verdana,Tahoma,Arial,serif;font-weight:none;color:#FFFFFF;background-color:#F0BE32;}

font.red, .red {color:#B31736;}
.warn {background:#fff0f0; margin:5px 0; height:10px; color:#B31736;}

H1 {font-size:1.3em;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;margin-top:10px;margin-bottom:2px;margin-left:0px;}
H1.b {font-size:18px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;margin-top:2px;margin-bottom:2px;margin-left:0px;}
H1.w {font-size:18px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;margin-top:2px;margin-bottom:2px;margin-left:0px;}
H2.tab {font-size:13px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#FFFFFF;margin-top:0px;margin-bottom:2px;margin-left:8px;}
H2 {font-size:16px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;margin-top:0px;margin-bottom:2px;margin-left:0px;}
H3 {font-size:20px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#F5B21A;margin-top:10px;margin-bottom:2px;margin-left:10px;}
H3.red {font-size:16px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#B31736;margin-top:10px;margin-bottom:8px;margin-left:0px;}
H4 {font-size:14px;font-family:Verdana,Tahoma,Arial,serif;font-weight:normal;color:#BD1F00;margin-top:10px;margin-bottom:10px;}
H4.black {font-size:14px;font-family:Verdana,Tahoma,Arial,serif;font-weight:bold;color:#000000;margin-top:10px;margin-bottom:10px;}

FORM {margin-bottom:0}
.gray {color: gray}


body, td, a, div, span, label{
	font-family : Verdana,Tahoma,Arial,serif;
	font-size : 13px;
}

/* -------------------------------------------------------- */

/*
.errorMessage{
	color: #B31736;
	background:#fff0f0
}
*/

/* -------------------------------------------------------- */
.linkable {
	cursor: pointer;
	cursor: hand;
	color: #F0BE32;
	text-decoration:underline;
}

 
.cursorHand{
	cursor : pointer;
	cursor : hand;
}

 

