
[
    %% 
    %% Настрока самомго веб-сервера
    %% 
    {cowboy, [
        %% Server в заголовке запроса
        {server_name, "Empire web server"}
    ]},

    %% 
    %% Настрока нашего веб приложения
    %% 
    {empweb, [
        {cookiename,    "CDNCONTROLSYSTEM"},
        {http, [
            %% Настрока нашего веб приложения
            {nbacceptors, 100},
            {port, 8000}
        ]},
        {https, [
            {nbacceptors, 100},
            {port, 8443},
            {certfile,  "priv/ssl/cert.pem"},
            {keyfile,   "priv/ssl/key.pem"},
            {password,  "empire"}
        ]},
        {host, "empire.av.sys"}
    ]},

    %%
    %% Настрока нашего веб приложения
    %%
    {empdb, [
        {pools, [
            {emp,
                [
                    {size, 10},
                    {max_overflow, 10}
                ],
                [
                    {hostname, "localhost"},
                    {database, "emp"},
                    {username, "w-495"},
                    {password, "eiir"}
                ]
            }
        ]}
    ]},

    %%
    %% Настрока логирования (на файловую систему)
    %% Подробности настройки см ./deps/lager/README.org
    %%
    {lager, [
        {handlers, [
            %% Уровень логирования консоли
            {lager_console_backend, emergency},
            %% Куда логировать события разного уровня.
            %%      ~{node()} --- имя текущей ноды
            %%      ~{date()} --- дата запуска ноды
            %%      ~{time()} --- время запуска ноды
            %%
            %% Чтобы не накапливать большое число логов,
            %% используется функция циклического логирования.
            {lager_file_backend, [
                {   "priv/logs/~{node()}/~{date()}/~{time()}/debug.log",
                    debug,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/info.log",
                    info,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/notice.log",
                    notice,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/warning.log",
                    warning,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/error.log",
                    error,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/critical.log",
                    critical,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/alert.log",
                    alert,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                },
                {   "priv/logs/~{node()}/~{date()}/~{time()}/emergency.log",
                    emergency,
                    1073741824, %% 1Gb.
                    "$M1",      %% Первое число каждого месяца
                                %%  есть D{N}, W{N}, M{N} и их комбинации.
                    5           %% Сколько логово еще помнить, кроме текущего.
                }
            ]}
        ]},
        %% Писать ли лог падений и куда его писать.
        {crash_log, "priv/logs/~{node()}/~{date()}/~{time()}/crash.log"},
        %% Maximum size in bytes of events in the crash log - defaults to 65536
        {crash_log_msg_size, 65536},
        %% Maximum size of the crash log in bytes, before its rotated, set
        %% to 0 to disable rotation - default is 0
        {crash_log_size, 1073741824},
        %% What time to rotate the crash log - default is no time
        %% rotation. See the README for a description of this format.
        {crash_log_date, "$M1"},
        %% Number of rotated crash logs to keep, 0 means keep only the
        %% current one - default is 0
        {crash_log_count, 5},
        %% Перенаправить error_logger сообщения в лагерь
        {error_logger_redirect, true}
    ]},

    {kernel, [
        {start_pg2, true}
        %,
        %{inet_dist_listen_min, 4370},
        %{inet_dist_listen_max, 4370}
    ]}
].
