
[
%     {sasl,  [
%         {sasl_error_logger, {file, "./priv/logs/sasl.log" }},
%         {errlog_type, error}
%     ]},

    {empweb, [
        {site_owner,    "tvzavr 12"},
        {log_level,     info},
        {cookiename,    "CDNCONTROLSYSTEM"},
        {http, [
            {nbacceptors, 100},
            {port, 8000}
        ]}
    ]},

    {empdb, [
        {site_owner, "tvzavr"},
        {log_level, info},
        {cookiename, "CDNCONTROLSYSTEM"}
    ]},
    {kernel, [
        {start_pg2, true}%,
        %{inet_dist_listen_min, 4370},
        %{inet_dist_listen_max, 4370}
    ]}
].
