
[
%     {sasl,  [
%         {sasl_error_logger, {file, "./priv/logs/sasl.log" }},
%         {errlog_type, error}
%     ]},
    {empweb, [
        {site_owner,    "tvzavr 12"},
        {log_level,     info},
        {cookiename,    "CDNCONTROLSYSTEM"},
        {http, [
            {nbacceptors, 1},
            {port, 8000}
        ]},
        {https, [
            {nbacceptors, 1},
            {port, 8443},
            {certfile,  "priv/ssl/cert.pem"},
            {keyfile,   "priv/ssl/key.pem"},
            {password,  "cowboy"}
        ]},
        {host, "192.168.2.169"}
    ]},

    {empdb, [
        {site_owner, "tvzavr"},
        {log_level, info},
        {cookiename, "CDNCONTROLSYSTEM"},
        {pools, [
            {emp,
                [
                    {size, 10},
                    {max_overflow, 10}
                ],
                [
                    {hostname, "localhost"},
                    {database, "emp"},
                    {username, "w-495"},
                    {password, "eiir"}
                ]
            }
        ]}
    ]},

    %% What handlers to install with what arguments
    {lager, [
        {handlers, [
            {lager_console_backend, emergency},
            {lager_file_backend, [
                {"priv/logs/~{node()}/~{date()}/~{time()}/debug.log",     debug,      10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/info.log",      info,       10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/notice.log",    notice,     10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/warning.log",   warning,    10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/error.log",     error,      10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/critical.log",  critical,   10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/alert.log",     alert,      10485760, "$D0", 5},
                {"priv/logs/~{node()}/~{date()}/~{time()}/emergency.log", emergency,  10485760, "$D0", 5}
            ]}
        ]},
        %% Whether to write a crash log, and where. Undefined means no crash logger.
        {crash_log, "priv/logs/crash.log"},
        %% Maximum size in bytes of events in the crash log - defaults to 65536
        {crash_log_msg_size, 65536},
        %% Maximum size of the crash log in bytes, before its rotated, set
        %% to 0 to disable rotation - default is 0
        {crash_log_size, 10485760},
        %% What time to rotate the crash log - default is no time
        %% rotation. See the README for a description of this format.
        {crash_log_date, "$D0"},
        %% Number of rotated crash logs to keep, 0 means keep only the
        %% current one - default is 0
        {crash_log_count, 5},
        %% Whether to redirect error_logger messages into lager - defaults to true
        {error_logger_redirect, true}
    ]},

    {kernel, [
        {start_pg2, true}
        %,
        %{inet_dist_listen_min, 4370},
        %{inet_dist_listen_max, 4370}
    ]}
].
