%%-*- mode: erlang -*-
{erl_opts, [bin_opt_info, debug_info, verbose]}.
{deps_dir, ["deps"]}.

{lib_dirs, [
    "./deps/empdb"
]}.

{deps, [
    empdb, nodeclt,
    {cowboy,        ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {ejson,         ".*", {git, "git://github.com/benoitc/ejson.git", "master"}}
]}.
{cover_enabled, true}.