%%-*- mode: erlang -*-
{erl_opts, [bin_opt_info, debug_info, verbose]}.
{deps_dir, "deps"}.


%%
%% Для коректной вставки .hrl
%%
{sub_dirs, [
    "deps/empdb",
    "deps/nodeclt"
]}.


{lib_dirs, [
    "./deps/*"
]}.

%%
%% Для локальгых хранилищь используем sub_dirs
%%
{sub_dirs, [
    "deps/empdb",
    "deps/nodeclt"
]}.

%%
%% Для внещних хранилищь используем deps
%%
{deps, [
    {cowboy,        ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {ejson,         ".*", {git, "git://github.com/benoitc/ejson.git", "master"}}
]}.
{cover_enabled, true}.